.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--eerie-black);
  min-height: 2.5rem;
  font-size: 1.1rem;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  height: inherit;
  padding-inline: 1rem;
}

.navbar__link,
.navbar__button {
  border-bottom: 1px solid transparent;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--textWhite);
  padding: 0.5rem;
}

.navbar__button {
  font-size: 1.1rem;
  background-color: var(--eerie-black);
}

.navbar__link:where(:hover, :focus-visible),
.navbar__button:where(:hover, :focus-visible) {
  border-bottom: 1px solid var(--icterine);
  color: var(--icterine);
}

.navbar__link.active {
  border-bottom: 1px solid var(--icterine);
  color: var(--icterine);
}

/* MOBILE */

/* 600px */
@media only screen and (max-width: 37.5em) {
  .navbar__link,
  .navbar__button {
    font-size: 1rem;
  }
}

/* 400px */
@media only screen and (max-width: 25em) {
  .navbar {
    justify-content: center;
  }
  .navbar__list {
    display: flex;
    padding-inline: 0rem;
  }
  .navbar__link,
  .navbar__button {
    font-size: 1rem;
  }
}
