.pagination {
  font-size: 0.9rem;
  color: var(--textWhite);
  display: flex;
  gap: 0.2rem;
  margin-block: 0.5rem;
}

.pagination > * {
  text-align: center;
  padding: 0.1rem;
  cursor: pointer;
  border: 1px solid var(--borderWhite);
  background-color: var(--jet);
}

.pagination a {
  display: block;
  width: 25px;
  border: 1px solid transparent;
}

.pagination__prev {
  margin-right: 0.5rem;
  border: 1px solid transparent;
}

.pagination__next {
  margin-left: 0.5rem;
  border: 1px solid transparent;
}

.pagination__active {
  color: var(--icterine);
  border: 1px solid var(--icterine);
}

.pagination__disabled {
  background-color: var(--jet);
  color: var(--night);
  cursor: default;
}

.pagination__page:where(:hover, :focus-visible),
.pagination__prev:where(:hover, :focus-visible),
.pagination__next:where(:hover, :focus-visible) {
  color: var(--icterine);
  border: 1px solid var(--icterine);
}

/* MOBILE */

/* 600px */
@media only screen and (max-width: 37.5em) {
  .pagination {
    font-size: 0.6rem;
    gap: 0rem;
  }
  .pagination a {
    width: 20px;
  }
}
