.contact {
  min-height: 50vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.contact > * {
  margin-top: 1rem;
}

.contact__text {
  color: var(--textWhite);
}

.contact__link {
  color: var(--textWhite);
  font-weight: 600;
}

.contact__link:where(:hover, :focus-visible) {
  color: var(--icterine);
}

.contact__button {
  margin-block: 1rem;
  background-color: var(--icterine);
  font-size: 1.1rem;
  color: var(--night);
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

.contact__button:where(:hover, :focus-visible) {
  background-color: var(--jet);
  color: var(--textWhite);
}
