.homepage {
  max-width: 100vw;
  margin-top: 1rem;
}

.hero {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.hero__img {
  width: 100%;
  height: 100%;
  opacity: 10%;
}

.hero__title-container {
  display: grid;
  place-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__title {
  color: var(--textWhite);
  font-size: 4.2rem;
  line-height: 120%;
  white-space: nowrap;
}

.hero__button {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--icterine);
  color: var(--night);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.hero__button:where(:hover, :focus-visible) {
  background-color: var(--night);
  color: var(--textWhite);
}

.hLogs > *,
.hExercises > *,
.hSessions > * {
  margin: 2rem;
}

.hLogs,
.hExercises,
.hSessions {
  min-height: 65vh;
}

.hLogs {
  background-color: var(--timberwolf);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.hLogs-left--end {
  display: grid;
  justify-content: end;
}

.hLogs-left,
.hLogs-right {
  display: grid;
  place-items: center;
}

.hLogs__title,
.hSessions__title {
  color: var(--night);
  font-size: 2.2rem;
}

.hLogs__subtitle,
.hSessions__subtitle {
  color: var(--night);
  font-size: 1.3rem;
}

.hLogs__img,
.hExercises__img {
  height: auto;
  max-width: 100%;
  border-radius: 0.2rem;
}

.hExercises {
  background-color: var(--jet);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hExercises__title {
  color: var(--textWhite);
  font-size: 2.2rem;
}

.hExercises__subtitle {
  color: var(--textWhite);
  font-size: 1.3rem;
}

.hSessions {
  background-color: var(--timberwolf);
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  text-align: center;
}

.hSessions__img-container-left {
  display: grid;
  place-items: end;
}

.hSessions__img-container-right {
  display: grid;
  place-items: start;
}

.hSessions__img {
  height: 250px;
  max-width: 100%;
  border-radius: 0.2rem;
}

.footer {
  min-height: 2.5rem;
  display: grid;
  place-items: center;
  font-size: 1.1rem;
}

.footer__text {
  color: var(--textWhite);
}

.footer__link {
  color: var(--textWhite);
  text-decoration: underline;
}

.footer__link:where(:hover, :focus-visible) {
  color: var(--icterine);
}

/* MOBILE */

/* 800px */
@media only screen and (max-width: 50em) {
  .hero__title {
    font-size: 2.2rem;
  }
  .hLogs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hSessions {
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
  }
  .hSessions__img-container-left,
  .hSessions__img-container-right {
    display: grid;
    place-items: center;
  }
}
/* 600px */
@media only screen and (max-width: 37.5em) {
  .hLogs,
  .hExercises,
  .hSessions {
    min-height: 0rem;
  }
}
/* 400px */
@media only screen and (max-width: 25em) {
  .hero__title {
    white-space: wrap;
  }
}
