.model > * {
  margin-top: 1rem;
}

.model__link-goBack {
  display: block;
  width: fit-content;
  color: var(--textWhite);
}

.model__link-goBack:before {
  content: '\2190';
}

.model__link-goBack:where(:hover, :focus-visible) {
  color: var(--icterine);
}

.title-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.title-container__title {
  text-align: center;
  grid-column: span 2 / span 2;
  color: var(--textWhite);
}

.title-container__link-container {
  justify-self: end;
  grid-row-start: 2;
}

.title-container__button-container {
  grid-row-start: 2;
}

.title-container__link {
  font-size: 0.8rem;
  background-color: var(--icterine);
  color: var(--night);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  margin-inline: 0.25rem;
}

.title-container__button {
  font-size: 0.8rem;
  background-color: var(--imperial-red);
  color: var(--night);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  margin-inline: 0.25rem;
}

.model__contents {
  max-width: 500px;
  display: grid;
}

.model__label {
  color: var(--textWhite);
  font-size: 0.9rem;
}

.model__select {
  font-size: 0.7rem;
  background-color: var(--jet);
  padding: 0.1rem;
  color: var(--textWhite);
  border: 1px solid var(--borderWhite);
  margin-bottom: 0.5rem;
}

.model__subtitle {
  color: var(--textWhite);
  font-size: 1.75rem;
}

.model__list {
  width: inherit;
}

.model__item {
  padding-block: 0.2rem;
}

.model__link {
  width: 100%;
  background-color: var(--jet);
  border-radius: 2px;
  color: var(--textWhite);
  display: inline-block;
  padding: 0.3rem 0.3rem 0.3rem 0.6rem;
}

.sessions__label-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.sessions__label {
  color: var(--textWhite);
  font-size: 0.9rem;
}

.sessions__text {
  color: var(--textWhite);
  font-size: 1rem;
}

.sessions__list {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
}

.sessions__table {
  text-align: center;
  background-color: var(--jet);
  border-radius: 2px;
  color: var(--textWhite);
  padding: 0.3rem 0.3rem 0.3rem 0.6rem;
}

.sessions__table th {
  font-size: 1rem;
  padding: 0.2rem;
}

.sessions__table td,
.sessions__span {
  font-size: 0.8rem;
  padding-inline: 0.1rem;
}

.model__link:where(:hover, :focus-visible),
.title-container__link:where(:hover, :focus-visible),
.title-container__button:where(:hover, :focus-visible),
.model__button-goback:where(:hover, :focus-visible),
.sessions__link:where(:hover, :focus-visible) .sessions__table {
  background-color: var(--eerie-black);
  color: var(--icterine);
}

.model__button {
  margin-block: 1rem;
  background-color: var(--icterine);
  color: var(--night);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.model__button:where(:hover, :focus-visible) {
  background-color: var(--jet);
  color: var(--textWhite);
}

.sessions__chart {
  width: 100%;
  height: 450px;
}
