.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--textWhite);
}

label {
  font-size: 1rem;
}

.form__item {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.form__item-pair > * {
  padding-right: 0.5rem;
}

.form__radio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: start;
}

.form__input-text {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border-radius: 5px;
}

.form__error-text {
  padding-top: 0.2rem;
  font-size: 0.8rem;
  color: var(--imperial-red);
}

.form__input-date {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border-radius: 5px;
  width: fit-content;
}

.form__input-number {
  padding: 0.3rem 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 75px;
  height: 25px;
}

.form__input-checkbox {
  width: 30px;
  height: 25px;
}

.form_radio-input {
  height: 1rem;
  width: 1rem;
}

.form__radio-label {
  padding-inline: 0.5rem;
}

.form__button-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.5rem;
}

.form__button-add {
  max-width: fit-content;
  display: inline-block;
  font-size: 0.9rem;
  background-color: var(--icterine);
  color: var(--night);
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
}

.form__button-delSet,
.form__link {
  max-width: fit-content;
  display: inline-block;
  font-size: 0.9rem;
  background-color: var(--imperial-red);
  color: var(--night);
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
}

.form__button-submit {
  margin-block: 1rem;
  width: fit-content;
  display: inline-block;
  font-size: 1rem;
  background-color: var(--icterine);
  color: var(--night);
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
}

.form__button-submit:where(:hover, :focus-visible),
.form__button-add:where(:hover, :focus-visible),
.form__button-delSet:where(:hover, :focus-visible),
.form__link:where(:hover, :focus-visible) {
  background-color: var(--jet);
  color: var(--textWhite);
}
