@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --night: #141414ff;
  --eerie-black: #1e1f1eff;
  --jet: #353636ff;
  --imperial-red: #f33f40ff;
  --spanish-orange: #e26d2aff;
  --icterine: #f5f65fff;
  --timberwolf: #ddd6cfff;
  --textWhite: #f2f2f2;
  --borderWhite: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  transition-property: color, background-color, border-bottom;
  transition-duration: 0.2s;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: var(--night);
}

main {
  max-width: clamp(300px, 90%, 1500px);
  margin: auto;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}
